
*, *::before, *::after {
    box-sizing: border-box;
  }

  a{
    text-decoration: none;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  .container{
    $max-width: 1189px;
    $padding: 1rem;
    width: min($max-width, 100% - $padding);
    margin-inline: auto;
}

// header

.header{
    padding-block: 20px 50px;
}

.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
    align-items: center;
    gap: 60px;
    .nav__item{
        list-style: none;
        .nav__link{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 20px;
            color: #18216D;
        }
    }
}

.sub__nav{
    display: flex;
    gap: 45px;
}

.sing{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #18216D;
    border: none;
    background-color: transparent;
}

.down{
    padding: 16px 27px;
    background: #18216D;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;    
    border: none;
}












